<!DOCTYPE html>
{%load static%}
{% load tour_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <!-- <link rel="stylesheet" href="../../statics/css/styles.css">
    <link rel="stylesheet" href="../../statics/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../statics/css/bootstrap-icons.min.css"> -->


    <title>پروفایل کاربر</title>
</head>
<body>
    <ul class="formCircles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="profilePopUpMenu">
        <header>
            <span class="profilePicture">
                <i class="bi bi-person-circle"></i>
                <span class="profileName">{{user.username}}</span>
            </span>
            <button class="profilePopUpMenuCloseButton">
                <i class="bi bi-x-lg"></i>
            </button>
        </header>
        <div class="profileOptions">
            <ul>
                <li><a href="">ویرایش پروفایل</a></li>
                <li><a href="{% url 'authentication:logout' %}">خروج</a></li>
                <li><a href="{% url 'chatapp:customer' %}">پیام رسان</a></li>
            </ul>
            {% comment %} <ul>
                <li><a href="">پروفایل</a></li>
                <li><a href="">پروفایل</a></li>
                <li><a href="">پروفایل</a></li>
            </ul> {% endcomment %}
        </div>
    </div>
    <div class="navBarSideBar">
        <div class="profileOptions">
            <ul>
                <li><a href="{% url 'website:contact_us' %}">تماس با ما</a></li>
                <li><a href="">پنل فروشندگان و خریداران</a></li>
                <li><a href="">لیست شرکت ها</a></li>
            </ul>
        </div>
    </div>
    <label for="navBarSidBarCheckBox" id="navbarCollapse">
        <input type="checkbox" id="navBarSidBarCheckBox">
        <button class="navbarCollapseButton">
            <i class="bi bi-list"></i>
        </button>
    </label>
    <div class='Header'>
        <div class='top'>
            
            <img class="headerLogoImage" src="{% static 'images/Logo.png' %}" alt="لوگو" />
            <input type="checkbox" id="openForm">
            <button class="profileButton">
                <i class="bi bi-person-circle"></i>
            </button>
        </div>
        
        <ul class='HeaderNavBarContainer'>
            <li><a href="">تماس با ما</a></li>
            <li><a href="">پنل فروشندگان و خریداران</a></li>
            <li><a href="">لیست شرکت ها</a></li>
        </ul>
        <div class='searchBarContainer'>
            <a href="" class='searchBarIcon'>
                <i class="bi bi-search"></i>
            </a>
            <input type="text"  placeholder='جست و جو......' class='searchBarInput'/>
        </div>
    </div>
    <div class="homePageBody">
    
        <div class="company-list">
            <header>
                <h3>
                    آخرین شرکت ها
                </h3>
            </header>
            {% show_latest_tours 5 %}
        </div>
    </div>
</body>
<script src="{% static 'js/scripts.js' %}"></script>
<!-- <script src="../../statics/js/scripts.js"></script> -->
</html>