@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  box-sizing: border-box;
}
.homePageBody{
  font: 14px/20px "Lato", Arial, sans-serif;
}
.container {
  margin: 0 auto;
  width: 750px;
  height: 118vh;
  /* width: 50%; */
  /* background: #444753; */
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  z-index: 10;
  padding: 0;
  overflow: hidden;
}


.people-list {
  /* direction: rtl; */
  /* width: 260px; */
  padding: 0;
  width: 40%;
  height: 100%;
  float: left;
  background: rgba(68, 0, 255, 0.8);
  overflow-y: scroll;
  overflow-x: hidden;
  transform: translateX(0);
  box-shadow: 3px 0 5px black;
  border-radius: 10px 0 0 10px;
}
.people-list .search {
  background-color: #0051ff;
  padding: 20px;
  box-shadow: 0px 2px 5px black;
  direction: rtl;
}

.people-list input {
  direction: rtl;
  border-radius: 5px;
  border: none;
  padding: 14px;
  color: white;
  background: #00aaff;
  width: 80%;
  font-size: 14px;
}
.people-list input::placeholder{
  color: #003cff;
}
.people-list input:focus {
  outline: none;
}
.people-list .fa-search {
  position: relative;
  /* left: -25px; */
  right: -20px;
}
.people-list ul {
  padding: 20px;
  height: 770px;
}
.people-list ul li {
  padding-bottom: 20px;
  border-bottom: 2px solid #00bbff;
  margin-top: 10px;
}
.people-list img {
  float: left;
  width: min(100px,30%);
  /* max-width: 100px; */
  border: 2px solid #00f2ff;
  border-radius: 50%;
}
.people-list .about {
  float: left;
  margin-top: 8px;
}
.people-list .about {
  padding-left: 8px;
  color: #00f2ff;
}
.people-list .status {
  color: #00f2ff;
}


.people-list::-webkit-scrollbar {
  width: 10px;
  display: none;
}

/* Track */
.people-list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
.people-list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
/* Handle on hover */
.people-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.chat {
  
  border-radius: 0 10px 10px 0;
  /* min-width:( 90%,490px); */
  /* width: 490px; */
  width: 60%;
  height: 100%;
  float: left;
  background: #f2f5f894;
  background: rgb(43,77,247);
background: linear-gradient(0deg, rgba(43,77,247,0.8) 0%, rgba(0,132,255,0.8) 23%, rgba(127, 182, 255, 0.8) 43%, rgba(104, 169, 255, 0.8) 53%, rgba(96,0,255,0.8) 100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #00ffe1;
}
.chat .chat-header {
  direction: rtl;
  padding: 20px;
  /* border-bottom: 2px solid rgb(17, 0, 255); */
  box-shadow: 0px 5px 5px black;
  /* background-color: #0084ff; */
}
.chat .chat-header img {
  float: right;
  width: 20%;
  border-radius: 50%;
  border: 2px solid #0051ff;
}
.chat .chat-header .chat-about {
  float: right;
  padding-right: 10px;
  margin-top: 6px;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 30px;
}
.chat .chat-header .chat-num-messages {
  margin-top: 10px;
  font-size: 20px;
  color: #00d0ff;
}
.chat .chat-header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 12px;
}
.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 575px;
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #ffffff;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
  direction: rtl;
  text-align: right;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #3d3d3d;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .my-message {
  background: #7191bb;
}
.chat .chat-history .other-message {
  background: #008cff;
}
.chat .chat-history .other-message:after {
  border-bottom-color: #0051ff;
  left: 93%;
}
.chat .chat-message {
  padding: 30px;
}
.chat .chat-message textarea {
  direction: rtl;
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
  box-shadow: 0px 0px 5px 5px rgb(0, 229, 255);
  background-color: #ffffff;
}
.chat .chat-message textarea:focus {
  outline: none;
  box-shadow: inset 0px 0px 5px 5px rgb(0, 229, 255);

}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o:hover{
  color: rgb(0, 255, 238);
  
}
.chat .chat-message .sendButton {
  float: right;
  color: #4000ff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  transition: 0.3s;
  z-index: 10;
}
.chat .chat-message .sendButton input{
  border: none;
  cursor: pointer;
  background-color: #00ffdd;
  border-radius: 5px;
  padding: 5px 10px;
}
.chat .chat-message .sendButton .sendIcon{
  font-size: 20px;
  position: absolute;
  right: 0;
  /* top: 0; */
  z-index: -1;
  transition: 0.3s;
  border-radius: 0 5px 5px 0;
  padding: 7px;
}
.chat .chat-message .sendButton input:hover {
  color: #00ffd9;
  background-color: #0077ff;
  border-radius: 5px 0 0 5px;
}
.chat .chat-message .sendButton input:hover ~ .sendIcon{
  color: #0077ff;
  background-color: #00ffd9;
  transform: translateX(100%);
}
#ChatImageUpload{
  display: none;
}
.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #005eff;
}

.offline {
  color: #E38968;
}

.me {
  color: #00ffea;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* width */
.chat-history::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.chat-history::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
.chat-history::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
.chat-history::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* ----------------------- */
/* chat image upload */
.upload-container {
  margin: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: linear-gradient(90deg, rgba(43,77,247,0.8) 0%, rgba(0,132,255,0.8) 23%, rgba(127, 182, 255, 0.8) 43%, rgba(104, 169, 255, 0.8) 53%, rgba(96,0,255,0.8) 100%);

  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
  font-size: 20px;
}

#submitButton{
  background-color: #00fffb;
  color: blue;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-buttons {
  margin-top: 20px;
  
}
.modal-buttons button{
  border: none;
  border-radius: 5px;
  width: 15%;
  padding: 5px 10px;
}
#imagePreview {
  max-width: 100%;
  height: auto;
}
#people-List-Collapse{
  position: absolute;
  top: 15px;
}
.people-List-CollapseButton{
  display: none;
  z-index: 10000;
  font-size: 24px;
  cursor: pointer;
  background-color: #00f2ff;
}

#people-List-SidBarCheckBox{
  display: none;
  
}
.people-List-CollapseButton i{
  color: #005eff;
}
@media screen and (max-width: 700px) {
  .chat{
    width: 100%;
    border-radius: 10px;
  }
  .people-List-CollapseButton{
    position: absolute;
    top: 5px;
    left: 5px;
    color: #000000;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }
  .people-list{
    border-radius: 10px;
    /* display: none; */

    position: absolute;
    background: rgba(68, 0, 255, 1);
    left: 0;
    transform: translateX(-100%);
    z-index: 100;
    box-shadow: none;
    transition: 0.5s;
    /* width: 260px; */
  }
  .chat .chat-header .chat-with {
    font-size: 20px;
  }
  .chat .chat-header .chat-num-messages {
    font-size: 10px;
  }

}
