.DisplayableAdvertisingContainer{
    background-color: #e3eadb;
    padding: 20px;
    border: 2px solid #00ff62;
    margin-bottom: 20px;
    
}
.AdvertisingDisplayHeader{
    height: 140px;
    /* background-color: #00ff62; */
}
.AdvertizingImage{
    width: 150px;
    border-radius: 10px;
    float: right;
    margin-left: 10px;
}
.AdvertizingDate{
    font-size: 18px;
    margin-left: 20px;
}
.AdvertizingTitle{
    display: block;
    font-size: 40px;
    margin-top: 10px;
}
.AdvertizingDescription{
    display: block;
    margin-right: 10px;
    font-size: 20px;
    color: black;
}
label{
    color: rgb(44, 128, 44);
    font-weight: bold;
}