.FooterOuterContainer{
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F7FFEC;
    padding: 40px 20px;
}
.FooterContainer{
    height: 400px;
    width: 70%;
    background-color: greenyellow;
    border-radius: 20px;
    padding: 50px 50px;
    box-sizing: border-box;
}
.FooterInfoList{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logoImage{
    width: 250px;
    border-radius: 40px;
}
ul{
    list-style: none;
    text-align: right;
    font-weight: bold;
}
h2{
    font-size: 30px;
    color: green;
}
li{
    font-size: 20px;
}